.productsBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.productCardWrapper {
  max-width: 15rem;
  margin: 1rem;
}

.productCard {
  flex-direction: column;
  padding: 1vw;
  width: 100%;
}
.buttonWrapper {
  padding: 1vw;
}
.centerItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .productsBox {
    min-height: 52vh;
  }
}
@media only screen and (min-width: 600px) {
  .productsBox {
    min-height: 49.5vh;
  }
}
